.headerDiv {
    display: grid;
    align-items: center;
    grid-template-columns: 8ch auto 8ch;
    grid-auto-rows: minmax(50px, auto);
    box-shadow: 10px 5px 5px rgb(235, 235, 235);
}

.cardDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 45%;
    margin: 30px 20px;
    border-radius: 20px;
    background-color: #248ec2;
    border: solid 2px #248ec2;
    color: white;
    box-shadow: 10px 5px 5px rgb(235, 235, 235);
}

.cardContent {
    padding: 40px 30px;
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
    .card {
        width: 42%;
    }
}

@media screen and (max-width: 700px) {
    .card {
        width: 90%;
    }
}