.headerDiv {
    display: grid;
    align-items: center;
    grid-template-columns: 8ch auto 8ch;
    grid-auto-rows: minmax(50px, auto);
    box-shadow: 10px 5px 5px rgb(235, 235, 235);
}

.cardDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.line {
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
}