.cont {
    height: 100vh;
}

.cardContainer {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 45%;
    height: 390px;
    margin: 10px;
    background-color: white;
}

.image {
    object-fit: cover;
    background-color: white;
    overflow: hidden;

}

@media screen and (max-width: 700px) {
    .card {
        width: 90%;
    }

    .cardContainer {
        justify-content: center;
    }
}