.layout {
    width: 55%;
    display: flex;
    justify-content: center;
}

.timesDiv {
    height: 200px;
    overflow: auto;
    width: 90%;
}

@media screen and (max-width: 1200px) {
    .layout {
        margin: 0 20px;
        width: 45%;
    }
}