@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  font-family: "comorant", serif;
  color: #20365F;
}


:root {
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  padding: 40px 30px;
  margin: 30px 20px;
  border-radius: 20px;
  background-color: #248ec2;
  border: solid 2px #248ec2;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgba(36, 142, 194, .8);
  transition: 0.6s;
}