.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #20365F;
}

.container p {
    padding: 10px;
}

.container h2 {
    margin: 20px;
}

.text {
    background-color: #20365F;
    color: white;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 60px 20px;
}

.text a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 800px) {
    .text {
        margin: 20px;
    }
}