.fundingWrap {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 10px;
    /* width: 80%; */
}

.radioCont {
    position: relative;
    width: 28px;
}

.radioButton {
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
}

.unselected {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
}

.unselected:hover {
    background-color: rgba(230, 231, 232, 0.8);
}

.selected {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: rgba(230, 231, 232, 0.8);
    border-radius: 50%;
}

@media screen and (min-width: 2000px) {
    .unselected {
        width: 40px;
        height: 40px;
    }

    .selected {
        width: 40px;
        height: 40px;
    }

    .radioCont {
        width: 40px;
        margin: 0 20px 0 0;
    }
}